  .navbar {
    overflow: hidden;
    background-color: rgb(30, 144, 255, 0.5);
    border-radius: 8px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.6s;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    transition-duration: 0.6s;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(30, 144, 255, 0.7);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(30, 144, 255, 0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(245, 255, 250);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(30, 144, 255, 0.9);
    border-radius: 8px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .right {
    float: right;
  }
  ul {
    list-style-type: none;
    max-width: 100%;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0;
    margin: 0;
    width: 18%;
    position: absolute;
    right: 5px;
    display: inline-block;
  }
  li h2 {
    color: rgb(245, 255, 250);
  }
  li a {
    display: block;
    color: rgb(245, 255, 250);
    padding: 8px 16px;
    text-decoration: none;
  }
  li {
    text-align: center;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(30, 144, 255, 0.9);
    color: white;
  }
  
  